/*
 https://theorthodoxworks.com/web-design/drop-down-menu-multi-css/
*/
.menu {
	position: relative;
/*	width: 100%;
	height: 50px;
	max-width: 1000px;
*/	margin: 0 auto;
}

.menu>li {

	float: left;
	/*
    width: 25%;
    height: 50px;
    line-height: 50px;
	background: rgb(29, 33, 19);
	background: rgb(70, 53, 74);


	white-space: normal;
*/
	white-space: none;
	display: inline;

}

.menu>li a {
	display: block;
	color: #fff;
	background: rgb(7, 42, 36);
	padding-right: 5px;
	padding-left: 5px;
}

.menu>li a:hover {
	color: #999;
}

ul.menu__second-level {
	position: relative;
	visibility: hidden;
	opacity: 0;
	z-index: 1;

}

ul.menu__third-level {
	visibility: hidden;
	opacity: 0;
}

ul.menu__fourth-level {
	visibility: hidden;
	opacity: 0;
}

.menu>li:hover {
/*
	background: #072A24;
*/	-webkit-transition: all .5s;
	transition: all .5s;
}

.menu__second-level li {
	border-top: solid #111;
}

.menu__third-level li {
	border-top: 1px solid #111;
}

.menu__second-level li a:hover {
	background: #111;

}

.menu__third-level li a:hover {
	background: #2a1f1f;
}

.menu__fourth-level li a:hover {
	background: #1d0f0f;
}

.menu:before, .menu:after {
/*	content: " ";
	display: table;
*/
}

.menu:after {
/*
	clear: both;
	*/
}

.menu {
	*zoom: 1;
}

.menu>li.menu__single {
	position: relative;
/*
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
*/
	}

li.menu__single ul.menu__second-level {
	position: absolute;
/*	top: 25px;
	width: 100%;
	background: #072A24;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
*/
	padding-inline-start: 0;
}

li.menu__single:hover ul.menu__second-level {
/*	top: 25px;
*/	visibility: visible;
	opacity: 1;

}

ul {
	/*
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	*/
	list-style: none;
	display: inline;
	padding-inline-start: 0;

}

.codebox, .debugbox {
	float: left;
	border-color: yellow;
	width: 50%;

}

.prettyprint {
	word-wrap:normal
}


/*
li:first-child {
	white-space:none
}

ul:first-child {
	white-space:none
	display: inline;
}
*/

